/* for card picture */
#backgrdcard_black {
    background-color: #1d1d1d;
    margin: 0;
    border: 0;
}

.forcard {
    color: #fff;
    padding: 100px 279px 0px 279px;
    font-size: 80px;
    line-height: 86px;
    text-align: center;
    font-weight: 500;
    font-family: 'Millik', sans-serif;
}

.forcard span {
    color: #6672c7;
}

.forcardh2 {
    color: #ffffff;
    font-size: 22px;
    line-height: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    letter-spacing: normal;
    padding-left: 374px;
    padding-right: 374px;
    font-family: 'Moderat', sans-serif;
    font-weight: 256;
}

.btn_gets_card {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
    margin-top: 80px;
    margin-bottom: 300px;
    background-color: #fff;
    color: black;
    font-family: 'Moderat', sans-serif;
    padding: 28px 32px; 
}


#class_card {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 500px;
    width: auto;
    margin: 200px 374px 100px 430px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    z-index: 999;
}

.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    
}

.card1 img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-top: 50px;
    animation: fixed 8s infinite;
    
    
}

.item1 img {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
    top: 5px;
    left: 35px;
    opacity: 0;
    z-index: 0;
    
}

.item2 img {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    top: 33px;
    left: 15px;
    position: absolute;
    opacity: 0;
}

.item3 img {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    top: 33px;
    left: 10px;
    position: absolute;
    opacity: 0;
}

.item4 img {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 3;
    top: 70px;
    left: 0;
    position: absolute;
    opacity: 0;
}



@keyframes fixed {
    0% {
        transform: translateX(0);
        opacity: 0;
        animation-delay: 5s; 
    }

    25% {
        z-index: 1;
        opacity: 1;
        animation-delay: 5s; 

    }

    50% {
        z-index: 2;
        animation-delay: 5s; 
    }

    75% {
        z-index: 3;
        animation-delay: 5s; 
    }

    100% {
        z-index: 4;
        animation-delay: 5s; 
    }
}


.card1 img:first-child {
    opacity: 1;
}


/* for three slide  */
#container_fromcard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 70px;
    margin-top: 150px;
    padding-bottom: 10%;
    position: relative;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.fromcard1 {
    width: 561px;
    height: 300px;
    box-sizing: border-box;
    background-color: #313131;
    border-radius: 16px;
    padding: 30px 30px;
    font-size: 16px;
    font-family: 'Moderat', sans-serif;
    font-weight: 230;
    line-height: 15px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
    
}

.fromcard2 {
    width: 561px;
    height: 300px;
    box-sizing: border-box;
    background-color: #313131;
    border-radius: 16px;
    padding: 30px 30px;
    font-size: 16px;
    font-family: 'Moderat', sans-serif;
    font-weight: 256;
    line-height: 22.4px;
    color: #ffffff;
    margin-left: -20rem;
    margin-right: 20px;
    left: 300px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    z-index: 2;
    
}

.fromcard3 {
    width: 561px;
    height: 300px;
    box-sizing: border-box;
    background-color: #313131;
    border-radius: 16px;
    padding: 30px 30px;
    font-size: 16px;
    font-family: 'Moderat', sans-serif;
    font-weight: 256;
    line-height: 22.4px;
    color: #ffffff;
    margin-left: -25rem;
    margin-right: 20px;
    z-index: 3;
    left: 50%;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
}


.formcard1h2 {
    font-size: larger;
    color: #ffffff;
    font-family: 'Moderat', sans-serif;
    padding: 1rem 0;
}

.formcard1p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Moderat', sans-serif;
    font-weight: 256;
}


.fromcard1:hover {
    transform: translate(0px, 0px);
    z-index: 999;
}

.fromcard2:hover {
    transform: translate(100px, 0px);
    z-index: 999;
}

.fromcard3:hover {
    transform: translate(100px, 0px);
}
   


@media(max-width: 768px){
    
    #container_fromcard{
        grid-template-columns: 1fr;
    }
    .fromcard1, .fromcard2, .fromcard3{
        margin: 0px 0px;
        padding: 0;
        width: 90vw;
        height: fit-content;
        padding: 2rem;
        left: 0;
        margin-top: 3rem;
        justify-self: center;
    }
    #container_fromcard{
        margin: 0%;
        
    }
    .forcard{
        padding: 0 1rem;
        font-size: 3rem;
    }
    .forcardh2{
        padding: 0;
    }
    .btn_gets_card{
        margin-bottom: 5rem;
        z-index: 1;
        display: block;
        margin: 0 auto;
        padding: 1rem 2rem;
        margin-top: 2rem;
        font-size: small;
    }
    .ready1{
        padding-bottom: 6rem;
    }
}