.navbar{
    display: flex;
    width: 100%;
    max-width: 1100px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    font-family: 'Moderat-Light', 'sans-serif';
    
}
body{
    margin: 0%;
}
p{
    font-family: 'Moderat-Light', 'sans-serif';
}
h3{
    font-family: 'Moderat-Light', 'sans-serif';

}
.navbar li{
    list-style: none;
    font-size: 0.9rem;
    font-family: 'Moderat-Light';
    font-weight: 600;
    text-decoration: none;
}
.navbar .links a{
    text-decoration: none;
    color: #39416b;
    
}
 .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e2d71;
    text-decoration: none;
}
.logotext{
    font-style: normal;
    margin-bottom: 2rem;
}
 .navbar img{
    height: 45px;
}

.navbar .toggle-btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    padding-right: 1rem;
    z-index: 999;
}
.navbar .links{
    display: flex;
    gap: 3rem;
}
.navbar ul a:hover{
    color: #4DC4C4;
    transition: .5s;
    
}
.action-btn{
    color: black;
    background-color: #EEEEEE;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    font-size: 0.9rem;
    font-family: sans-serif;
    text-decoration: none;
}
.action-btn:hover{
    background-color: #0A0E27;
    color: white;
    transition: .5s;
}


.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    height: 0;
    overflow: hidden;
    background: white;
    display: none;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dropA1, .dropA2, .dropA3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}
.dropA, .dropB{
    padding: 1.5rem;
    border-bottom: 1px dotted grey;
}
.dropC{
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}
.dropA .head, .dropB .head{
    color: grey;
    font-size: 0.7rem;
    font-weight: bold;
}
.dropA p, .dropB p, .dropC p{
    font-size: 0.85rem;
    text-align: left;
    color: #262c55;
    font-weight: 500;
}
.dropA .top, .dropB .top, .dropC .top{
    font-weight: 700;
    font-size: 0.9rem;
}

.dropdown_menu.active{
    height: 300%;
    width: 100%;
    right: 0;
}
.dropdown_menu .action-btn{
    width: 80vw;
    justify-content: center;
    padding: 1rem 9rem;
    color: white;
    background-color: #22263C;
    
}
.hero .intro i{
    text-decoration: none;
    color:#FB9129 ;
    font-style: normal;

}
.hero .intro h1{
    font-family: 'Millik', 'sans-serif';
    margin-bottom: 0;
    font-weight: 500;
}
.hero{
    margin-top: 5rem;
    margin-left: 0;
}
.intro{
    padding-left: 14rem;
    font-size: 3rem;

}
.intro p{
    font-family: 'Moderat-Light', 'sans-serif';
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 40rem;
    margin-bottom: 2.3rem;
}
.intro a{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Moderat-Light', 'sans-serif';
    font-weight: bold;
}
.intro .one{
    color: white;
    background-color: #0A0E27 ;
    padding: 1.2rem 1.5rem;
    border-radius: 8px;
}
.intro .two{
    color: black;
    background-color: #EEEEEE ;
    padding: 1.2rem 1.5rem;
    border-radius: 8px;
    margin-left: 0.6rem;
}
.pics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem; 
    
}
.pic1{
    margin-top: 7rem;
    
}
.pic1 img{
    height: 105vh;
}
.pic2{
    height: 845px;
}
.pic2 img{
    height: 90vh;
    margin-top: -5rem;
    
}
.pic2 p{
    max-width: 23rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color:#1d1d1d ;

}
.ad_intro{
    padding: 5rem 10rem 14rem 10rem;
}
.ad_intro h3{
    font-weight: 600;
    font-size: 1.5rem;
}
.ad_intro i{
    font-style: normal;
    font-weight:1000;
}
.ads{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
}

@font-face {
    font-family: 'Moderat-Light';
    src: url('font/Moderat-Light.woff2') format('woff2')
       
}
         
@font-face {
    font-family: 'Millik';
    src: url('/font/Millik Regular.otf')
}

@media (max-width: 768px){
    .navbar .links, .navbar .action-btn{
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
    }
   .dropdown_menu{
    display: block;
    text-align: center;
   }
   .intro h1{
    font-size: 3rem;
   }
   .intro{
    padding: 1.5rem;
   }
   .hero{
    margin-top: 1rem;
   }
   .pic1{
    margin-top: 1rem;
   }
   .pic1 img{
    width: 90vw;
    margin: 0 auto;
    height: auto;
    padding: 1rem;
   }
   .pics{
    gap: 2rem;
    justify-content: center;
   }
   .pic2 img{
    width: 90vw;
    margin: 0 auto;
    height: auto;
    padding: 1rem;
   }
   .pic2{
    height: fit-content;
   }
   .pic2 p{
    max-width: 80vw;
    padding: 2rem;
   }
   .ad_intro{
    padding: 2rem 2rem 5rem 2rem;
   }
   .ad_intro h3{
    padding-left: 0;
    padding-bottom: 2rem;
   }
   .intro .one{
    font-size: small;
   }
   .intro .two{
    font-size: small;
    padding: 1rem 1.3rem;
    margin-left: 0;
   }
   .ads img{
    height: 20px;
   }
 
}
